.dropdown {
	display: none;
	border: 1px solid black;
	position: relative;
	top: 1px;
	left: 1px;
	padding: 10px;
	padding-top: 30px;
	width: min-content;
}

.dropbutton {
	position: absolute;
	width: max-content;
	z-index: 2;
}

.dropdown > * {
	margin: 0;
}

