
#vids {
	width: 300px;
}

#vids-list {
	border: 1px solid black;
	border-top: none;
	margin-top: 0;
	width: inherit;
	display: none;
}

#vids h2 {
	margin-bottom: 0;
}

#vids ul {
	margin-top: 0;
}

#vids-button {
	background: #ccc;
	cursor: pointer;
	padding-left: 2px;
	width: inherit;
}
