#data #header th {
	border-bottom: 2px solid black;
}


.ulist {
	padding: 0;
	margin: 0;
}


.ulist li::before {
	content: "@";
}

.ulist li::after {
	content: ",";
	margin-right: 3px;
}

.ulist li:last-child::after{
	content: "";
	margin-right: 0px;
}

.ulist li {
	list-style: none;
	display: inline-block;
}


#data tr:nth-child(2n+3){
	background: #ddd;
}

#data td {
	border-right: 1px solid black;
	padding: 1px 5px;
}

#data td:last-child {
	border-right: none;
}
