#data ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

#data ul li {
	display: inline-block;
	padding-right: 10px;
}

#data ul li::before {
	content: "@";
	font-weight: lighter;
	color: #ccc;
}

#data tr:nth-child(2n+3) ul li::before {
	color: #fff;
}



td {
	padding: 5px;
}

tr:nth-child(2n+3){
	background: #ddd;
}

th {
	border-bottom: 1px solid black;
}

.corptag {
	font-family: serif;
	font-weight: bold;
	text-align: center;
}

.corptag::before{
	content: "[";
}

.corptag::after{
	content: "]";
}

.unknown {
	color: grey;
}
