#template {
	display: none;
}

#nolaunches {
	text-align: center;
	color: red;
	font-style: italic;
	font-weight: bold;
	font-size: 1.5em;
}

.entry {
	border: 1px solid blue;
	border-radius: 10px;
	background: lightgray;
	padding: 0.5em;
	margin: 0.5em;
}

.entry .title {
	font-weight: bold;
}

h3 {
	text-align: center;
}
